<head>
  <link rel="shortcut icon" href="{{ site.baseurl }}cdn/images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
  <link rel="alternate" type="application/rdf+xml" title="RSS" href="http://feedproxy.google.com/MikeWardTechnologyBlog">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="rating" content="general">
  <meta name="description" content="Free programs and gadgets for Windows. Weekly links with a focus on Programming, Science and Technology. Tips on programming in .NET and JavaScript.">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}css/pure-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/site.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
