blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #333;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote cite {
  color: #666;
  font-size: 14px;
  display: block;
  margin-top: 5px;

  &:before {
    content: "\2014 \2009";
  }
}
