code {
  padding: 0 3px;
  border-radius: 4px;
  border: solid 1px #ccc;
  background-color: #f7f7f7;
  font-size: 80%;
}

pre.prettyprint {
  background-color: #f7f7f7;  
  padding: .5em !important;
  border: none !important;
  line-height: 1.2;

  code {
    padding: 0;
    border: none;
    line-height: 1.2;
  }
}
