code {
  padding: 0 3px;
  border: solid 1px #ccc;
  background-color: #f6f6f9;
}

pre.prettyprint {
  background-color: #f6f6f9;  
  padding: .5em !important;
  border: none !important;
  line-height: 1.2;

  code {
    font-size: 14px;
    padding: 0;
    border: none;
    line-height: 1.2;
    font-family: helvetica, sans-serif;
  }
}
