a, a:link, a:visited {
  color: #36b;
  text-decoration: none;

  &:hover {
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #222;
  }
}

.post a, .post a:link, .post a:visited {
  color: #36b;;
  text-decoration: none;
  border-bottom: 1px solid #222;
}