.site-title {
  color: #777;
}

#topbar {
  border-bottom: 1px solid #ccc;
  padding-bottom: .5pc;
}

  #topbar a {
    color: #999;
    padding-right: 1pc;
  }

    #topbar a:hover {
      color: #333;
      text-decoration: none;
    }
