/* @import url(https://fonts.googleapis.com/css?family=ABeeZee:400); */
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  font-size: 1em;
  line-height: 1.7;
  font-family: roboto,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong {
  color: #505050;
  font-weight: bold;
}
