@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
  font-size: 1em;
  line-height: 1.7;
  font-family: Raleway,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong {
  color: #505050;
  font-weight: bold;
}
