@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Slackey);

html, body {
  font-size: 17px;
  line-height: 1.5;
  font-family: ubuntu,sans-serif;
}

strong {
  color: #505050;
  font-weight: bold;
}
